{% import "macros.j2" as macros with context %}

destination d_local {
  file("{{syslog_ng_server_dest_dir}}/{{syslog_ng_server_file_macro}}");  
};

source s_src {
  internal();
  system();
};

log {
  source(s_src);
  destination(d_local);
};

{# Source generation #}
{{ macros.generate_sources(syslog_ng_server_sources) }}

{% include "common/syslog-ng/" + syslog_ng_config_version + "/filters.j2" %}

{# Generate logpaths #}
{{ macros.generate_logpaths(syslog_ng_server_sources, "source") }}
